h1{
	color: #36c;
	font-weight: normal;
	letter-spacing: 1em;
	margin-bottom: 7em;
	text-align: middle;
	text-transform: lowercase;
	text-align: center;
}
p{
	color: #36c;
	text-align: center;
}